<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Konacha Tests</title>
    <%= stylesheet_link_tag "mocha",   :debug => false %>
    <%= stylesheet_link_tag "konacha", :debug => false %>
    <%= javascript_include_tag "mocha", "chai", "konacha/#{Konacha.mode}", :debug => false %>
    <%= javascript_include_tag("konacha_config", :debug => false) if Rails.application.assets.find_asset('konacha_config') %>
    <script>
      mocha.setup(Konacha.mochaOptions);

      beforeEach(function () {
        var e = document.getElementById('konacha'),
            p = e.parentNode;

        p.removeChild(e);

        e = document.createElement("div");
        e.id = "konacha";

        p.appendChild(e);
      });

      var expect = chai.expect,
          should = chai.should(),
          assert = chai.assert;

      window.onload = function () {
        // When running with RequireJS, all of your scripts and dependencies may
        // have not loaded yet. So, wait a second after window load to run.
        //mocha.run();
        window.setTimeout(mocha.run, 1000);
      };
    </script>
    <%= spec_include_tag *@specs %>
  </head>
  <body>
    <div id="mocha"></div>
    <div id="konacha"></div>
  </body>
</html>
